html {
    min-height: 100%;
}
body {
    background: url("../images/bg-desktop.svg") no-repeat center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    min-height: 100%;
}

.container {
    max-width: 1180px;
    min-height: 100%;
    margin: 0 auto;
}

.header h1 img {
    padding: 0 20px;
}


.introduction {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.introduction img {
    flex: 1;
    padding: 20px;
    max-width: 550px;
}

.content {
    flex: 2;
    padding: 20px;
    color: white;
    line-height: 1.4;
}

.content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

.content button {
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px;
    width: 40%;
    transition: 800ms;
}

.content button:hover{
    background-color: hsl(300, 69%, 71%);
    
}

.content button a:hover {
    color: white;
}

.content button a {
    text-decoration: none;
    font-size: 1.125rem;
    padding: 25px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-media .media {
    font-size: 1.8rem;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0px 15px 20px 0px;
    padding: 10px;
}

.social-media .media:hover, .social-media .media a:hover{
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    transition: 800ms;
}

.social-media .media:last-child {
    margin-right: 30px;
}

.social-media .media a{
    color: white;
}

@media only screen and (max-width: 780px) {
    
    .container {
        max-width: 750px;
    }

    .header h1{
        margin-left: 60px;
    }

    .introduction {
        flex-direction: column; 
        margin-bottom: 50px; 
    }

    .introduction img {
        max-width: 80%;
        margin: 0 auto;
    }

    .content {
        flex: 1;
        text-align: center;
    }

    .social-media{
        justify-content: center;
        
    }

    .social-media .media {
        font-size: 1.125rem;
    }

    .social-media .media:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 380px) {
    .container {
        max-width: 380px;
    }

    .header {
        text-align: center;
    }
    .header h1{
        margin-left: 0px;
    }

    .content button a {
        padding: 15px;
    }
}


